.experiencespage{
    background:var(--bg);

}

.experiencespage__title{
    padding-top: 10vh;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.8em;
    text-align: center;
    color: var(--text);
    
}

.vertical-timeline-element-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 4px rgba(105, 105, 105, 0.64),
      0 2px 0 rgba(0, 0, 0, 0.772),
      0 3px 0 4px rgba(0,0,0,.05) !important;
}

.vertical-timeline-element-date{
    color: black !important;
}
.icon__experience{
    font-size: 2rem;
}

.logo__company__container{
    display: flex;
    width:  100%;
        bottom: 0;   
}

.logo__company{
    width:  80%;
    
    align-self: self-start;
    margin:auto auto;
    
}


.job__company{
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.job__company__info{
    display: flex;
    flex-direction: column;
}

.vertical-timeline-element-date{
    color: var(--text) !important;
    font-weight: 700 !important;
}

@media (min-width:300px) and (max-width:480px){
  

    .vertical-timeline-element-date{
        color: var(--bg) !important;
        font-weight: 700 !important;
    }


}