.resumepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg);
    height: 100vh;
}

.generalinfo__resume{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
    width: 80%;
}

.generalinfo__aboutme{
    line-height: 1.5em;
    font-size: 1rem;
    width: 80%;
    text-align: justify;
}

.genralinfo__info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
}


.info__value{
    padding-bottom: 0.2em;
    font-size: 1rem;
}

.generalinfo__title{
    font-size: 1rem;
    padding-bottom: 0.5em;
}

.generalinfo__content{
    display: flex;
    color: var(--text);
    column-gap: 1em;
    padding-bottom: 1em;
}

.softskills__general{
    width: 80%;
}

.soft__title{
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 1em;
    color: var(--text);

}

.softskills__content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    justify-content: space-between;
    

}
.content__downloadcv{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img__downloadcv{
    width: 60px;
    aspect-ratio: 1;
    animation: 1.5s ease 0s infinite beat;
    cursor: pointer;
    margin-bottom: 1em;

}
.softskills_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.softskills__title{
    font-size: 1.4em;
    padding-bottom: 0.5em;
    color: var(--text);


}

.softskills__img{
   width: 70px;
   height: 70px;
}

.softskills__description{
    
    padding-top: 1em;
    
    align-self:start;    
    font-size: 0.8rem;
    height: 100%;
    text-align: justify;
    color: var(--text);


}
.info__general__info{
    width: 40%;

}




@keyframes beat {
    0%, 50%, 100% { transform: scale(1, 1); }
    20%, 85% { transform: scale(0.92, 0.95); }
  }