.project__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-width: 300px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.325);
    padding: 0.8em;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    background-color: var(--bg);
    color: var(--text);
    
}
.logo__project{
    width: 15%;
    aspect-ratio: 1;
    filter: brightness(10000%); /* Aplica un filtro de brillo para hacerlo blanco */

    /* filter: brightness(0.5) sepia(1) hue-rotate(180deg) saturate(5); */

    
    
}
.githuba{
    color: var(--text);
}
.header__project__card{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 0.2em;
    align-items: end;
}
.icon__git__projectcard{
    font-size: 1.3rem;
    box-shadow: 0px 0px 1px 1px var(--text);
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
}
.issue__field{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
.issue__date__label{
    font-size: 0.9rem;
    font-weight: 600;
}
.issue__date__value{
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.project__card__description{
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 2em ;
}

.project__link{
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: flex-end;
    font-weight: 300;
    color: var(--link);

}
.icon__url{
    font-size: 1.1rem;
    padding-right: 0.3em;
    color: var(--text);
    
}

.project__duration{
    font-size: 0.8rem;
    
    display: flex;
    align-items: flex-end;
    font-weight: 400;
}

.footer__project__Card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.technologies__project__card{
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    

}
.container__techs{
    
    display: flex;
    column-gap: 0.8em;
}
.img__tech__card{
    box-shadow: 0px 0px 1px 1px var(--text);
    padding: 0.5em;
    
    border-radius: 8px;
    overflow: hidden;
   display: flex;
   justify-content: center;
    
}
.tech__title__card{
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    
}
.img__tech__bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 4px;
    
}

.hr__project__card{

    border-top: 1px solid rgba(105, 105, 105, 0.46);
    width: 100%;
    
}

.center__card{

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-between ;
}

.content__header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project__card:hover .shadow {
    position: absolute;
    width: 200%; /* Ajusta según el tamaño deseado de la sombra */
    height: 200%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.309) 0%, rgba(255, 0, 0, 0.246) 25%, rgba(255,255,255,0.6082808123249299) 51%, rgba(255, 255, 255, 0.21) 79%, rgba(255,255,255,0)100%);
    transform: translate(-50%, -50%);
    pointer-events: none; /* Evita que la sombra afecte a la interacción del ratón */
    z-index: 1;

  }

